<h1>stacks</h1>

<table>
  <tr>
    <th>top card</th>
    <th></th>
    <th></th>
  </tr>

<% @stacks.each do |stack| %>
  <tr>
    <td><%= stack.cards.first.writing %>
    <td><%= link_to 'cards', stack %></td>
    <td><%= link_to 'destroy', stack, method: :delete, data: { confirm: 'This will destroy all cards in the stack.' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'start new stack', new_stack_path %>
