<h1>stack</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th>Writing</th>
  </tr>


<% @cards.reverse.each do |card| %>
  <tr>    
    
    <td><%= link_to 'destroy', card, method: :delete, data: { confirm: 'Are you sure?' } %></td>

    <td><%= link_to 'revise', edit_card_path(card) %></td>

    <td><%= truncate(card.writing, length: 80) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'blank card', new_card_path %>
